<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}HFF{% endblock %} - HackForFuture</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <section id="wrapper">
            <header id="header">
                <div class="top">
                   {#  {% block navigation %}
                        <nav>
                            <ul class="navigation">
                                <li><a href="{{ path('HFFBaseBundle_homepage') }}">Главная</a></li>
                                <li><a href="{{ path('HFFBaseBundle_about') }}">О хакатоне</a></li>
                                <li><a href="{{ path('HFFBaseBundle_contact') }}">Контакты</a></li>
                            </ul>
                        </nav>
                    {% endblock %} #}
                </div>

                <hgroup>
                    <a href="{{ path('HFFBaseBundle_homepage') }}"><img class="logo" src="{{ asset('img/head.png') }}" alt="Hack for Future logo" /></a>
                </hgroup>
            </header>

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
            {# <aside class="sidebar">
                {% block sidebar %}{% endblock %}
            </aside> #}

            <div id="footer">
                {% block footer %}
                    HFF - created by <a href="https://meetup.by">meetup.by team</a>
                {% endblock %}
            </div>
        </section>

        {% block javascripts %}
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js') }}"></script>
        <script src="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
